/* z-index */
@level_stage: 10000;
@level_btn: 1000;
@level_panel: 2000;
@level_mask: 1000;
@level_zoom: 3000;

.log {
  font-size: 12px;
  position: fixed;
  z-index: @level_stage;
  .log_btn {
    position: fixed;
    top: 50%;
    right: 0;
    line-height: 1;
    border-radius: 10%;
    padding: 0.3em 0.5em;
    box-shadow: 0 0 0.61538462em rgba(0, 0, 0, 0.4);
    border: none;
    font-size: 1.5em;
    z-index: @level_btn;
  }
  .log_panel {
    // display: flex;
    flex-flow: column nowrap;
    position: fixed;
    width: 100%;
    height: 75%;
    bottom: 0;
    display: none;
    z-index: @level_panel;
    .log_legend {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-bottom: 0.5em;
      > span {
        line-height: 2;
        flex: 1 1 100%;
        text-align: center;
      }
      > div {
        // flex: 1;
        .before();
      }
    }
    .log_content {
      position: relative;
      padding-top: 2em;
      flex: 1;
      border-top-right-radius: 1em;
      border-top-left-radius: 1em;
      border-top: 1px solid #e0e0e0;
      overflow: hidden;
      background: #fff;
      .log_head {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: #f5f7fa;
      }
      .log_content_inner {
        width: 100%;
        height: 100%;
        overflow-y: auto;
      }
      .log_item {
        display: flex;
        line-height: 2;
        border-bottom: 1px solid #eee;

        .name {
          position: relative;
          flex: 0 1 20%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          .before();
        }
        .props {
          flex: 1;
          > .vc-fold {
            line-height: 2;
          }
        }
        .result {
          flex: 1;
          > .vc-fold {
            line-height: 2;
          }
        }
        .time {
          display: none;
          flex: 1;
        }
        .size {
          display: none;
          flex: 1;
        }
      }
    }
    .log_tool {
      display: flex;
      .log_op {
        flex: 1;
        padding: 0.5em 0;
        line-height: 1;
        text-align: center;
        font-size: 1.5em;
      }
      .log_hide {
        background: rgba(139, 110, 110, 0.76);
      }
      .log_clear {
        background: rgba(105, 87, 87, 0.301);
      }
      .log_refresh {
        background: #eee;
      }
    }
  }
  .log_mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    z-index: @level_mask;
    background: #f7f7f7;
  }
  .log_zoom {
    display: flex;
    position: fixed;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    transition: all 0.3s;
    background: #efefef;
    &.trigger {
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 2000;
    }
    .exit {
      position: fixed;
      top: 0;
      right: 0;
      width: 1em;
      font-size: 3em;
    }
    .container {
      margin: auto;
    }
  }
}

.before {
  &::before {
    content: '';
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    margin: 0 0.1em;
    border-radius: 50%;
    vertical-align: middle;
  }
  &.ready {
    // color: #e6a23b;
    &::before {
      background: #e6a23b;
    }
  }
  &.processing {
    // color: #5db879;
    &::before {
      background: #5db879;
    }
  }
  &.sync-finish {
    // color: #1a89fa;
    &::before {
      background: #1a89fa;
    }
  }
  &.async-finish {
    // color: #6f7bd3;
    &::before {
      background: #6f7bd3;
    }
  }
}
