.log {
  .log_btn {
    display: block;
    position: fixed;
    top: 50%;
    right: 0;
    line-height: 1;
    font-size: 1.07692308em;
    z-index: 10000;
    border-radius: 10%;
    padding: 1%;
    box-shadow: 0 0 0.61538462em rgba(0, 0, 0, 0.4);
  }
}
