.vc-fold-outer {
  display: block;
  font-style: italic;
  padding-left: 0.76923077em;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0.30769231em;
    left: 0.15384615em;
    width: 0;
    height: 0;
    border: transparent solid 0.30769231em;
    border-left-color: var(--VC-FG-1);
  }
  &.vc-toggle {
    &:before {
      top: 0.46153846em;
      left: 0;
      border-top-color: var(--VC-FG-1);
      border-left-color: transparent;
    }
  }
}
.vc-fold-inner {
  display: none;
  &.vc-toggle {
    display: block;
  }
  margin-left: 0.76923077em;
}
.vc-code-key {
  color: #e36eec;
  font-style: normal;
  margin-left: 0.76923077em;
}
